.header{
    background:url('../../assets/images/desktop/image-header.jpg');
    height: 60vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.headerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerHeading{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 700;
}